<div class="hero-unit" style="padding-bottom: 0px;">
  <h1 style="font-size: 50px; margin-bottom: 20px;"><%= t(".headline") %></h1>
  <p>
  	<%= t(".subheadline") %>
  </p>
  <p class="center">
    <%= link_to root_path, class: "btn btn-primary btn-large" do %>
      <%= t(".button") %>
    <% end %>
  </p>


  <h2 style="margin: 40px 0 20px 0;"><%= t(".advantages") %></h2>
  <p><i class="icon-ok" style="color: #99d83e;"></i> <%= t(".feature_1") %></p>
  <p><i class="icon-ok" style="color: #99d83e;"></i> <%= t(".feature_2") %></p>
  <p><i class="icon-ok" style="color: #99d83e;"></i> <%= t(".feature_3") %></p>
  <p><i class="icon-ok" style="color: #99d83e;"></i> <%= t(".feature_4") %></p>
</div>