<%- model_class = Restaurant -%>
<% provide(:title, t(".title")) %>
<% provide(:description, t(".description")) %>
<div class="container" id="landing">

  <div class="center hero-unit">
    
    <h1> <%= t(".headline") %> </h1>

    <h1 class="lead hidden-phone hidden-tablet">
      <%= t(".subheadline") %>
    </h1>

    <!-- <div class="row introjs-inverse" data-intro='Welcome to grub.kz!' data-step='1'> -->
    <div class="row introjs-inverse">
  	  <%= search_form_for @q, class: 'form-inline' do |f| %>

  		  <!-- <div class="span3 offset1">
  			  <%= f.label :city_id_in, t(".your_city"), class: 'lead' %>
  			  <%= f.collection_select :city_id_in, City.order(:name), :id, :name,
  			  			include_blank: false, class: 'input-small' %>
  			</div> -->
<!-- 
  			<div class="span3">
  			  <%= f.label :deliverabilities_district_id_in, t('.your_district'), class: 'lead' %>
  			  <%= f.grouped_collection_select :deliverabilities_district_id_in, City.order(:name), :districts, :name, :id, :name, include_blank: false, class: 'input-small' %>
  			</div> -->

        <div class="span4 offset2">
          <%= f.label :deliverabilities_district_id_in, t(".your_district"), class: 'lead' %>
          <%= f.collection_select :deliverabilities_district_id_in, @districts, :id, :name,
                include_blank: false, class: 'input-small' %>
        </div>

  			<div class="span2">
          <button type="submit" class="btn btn-success btn-large">
            <i class="icon-search"></i>
            <%= t('navigation.search') %>
          </button>
  			</div>
  	  <% end %>
  	</div>



  </div>
</div>
<div class="container">
  <div class="row" id="features">
    <div class="span4">
      <h3>
      	<%= t(".feature_1") %>
        <i class="icon-map-marker icon-large" style="color: #2cacb3;"></i>
      </h3>
       <p><%= t(".feature_1_desription") %></p>
    </div>

    <div class="span4">
      <h3>
        <%= t(".feature_2") %>
        <i class="icon-heart icon-large" style="color: #ff7c3e;"></i>
      </h3>
      <p><%= t(".feature_2_desription") %></p>
    </div>
    
    <div class="span4">
      <h3>
      	<%= t(".feature_3") %>
        <i class="icon-ok" style="color: #99d83e;"></i>
      </h3>
      <p><%= t(".feature_3_desription") %></p>
    </div>
  </div>
</div>

<!-- <div class="offset4" style="margin-top: 40px;">
  <#%= render 'shared/addthis' %>
</div> -->