<%= simple_form_for [@restaurant, @deliverability], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :district %>
  <%= f.input :fee %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                restaurant_deliverabilities_path(@restaurant), :class => 'btn' %>
  </div>
<% end %>
