<%= content_tag_for :section, menu do %>
  <h3><%= menu.name %>
  	<% if can? :manage, menu %>
	  	<small>
	  		<%= link_to t("helpers.links.edit"), edit_menu_path(menu), class: "admin-links" %> |
				<%= link_to t(".add_dish"), new_menu_dish_path(menu), class: "admin-links" %> |
		 		<%= link_to t("helpers.links.destroy"), menu, method: :delete, data: { confirm: 'Are you sure?' }, class: "admin-links" %>	
	  	</small>
  	<% end %>
  </h3>
	
	
	<div>
	  <ul class="thumbnails">
	  	<%= render menu.dishes %>
	  </ul>
	</div>
<% end %>