<%= content_tag_for :section, menu do %>
	<p>
	  <h3><%= menu.name %></h3>
	</p>

	<%= link_to t("helpers.links.edit"), edit_menu_path(menu), class: "admin-links" %> |
	<%= link_to t(".add_dish"), new_menu_dish_path(menu), class: "admin-links" %> 

	<p>
		<div>
	  <ul class="thumbnails">
	  	<%= render menu.dishes %>
	  </ul>
	</div>
	</p>
<% end %>