<%= content_tag_for :section, menu do %>
  <h3><%= menu.name %>
  	<% if can? :manage, menu %>
	  	<small class="admin-links">
	  		<%= link_to t("helpers.links.edit"), edit_menu_path(menu) %> |
				<%= link_to t(".control_dishes"), menu_dishes_path(menu) %>
	  	</small>
  	<% end %>
  </h3>
	
	
	<div>
		<% if menu.pictureless? %>
  		<%= render 'menus/pictureless_menu', dishes: menu.dishes %>
		<% else %>
			<ul class="thumbnails">
  			<%= render menu.dishes %>
	  	</ul>
		<% end %>
	</div>
<% end %>