<%- model_class = Restaurant -%>
<% provide(:title, t(".title")) %>
<div class="page-header">
  <h1><%=t '.title' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:op_status) %></th>
      <th><%= model_class.human_attribute_name(:orders) %></th>
      <th><%= model_class.human_attribute_name(:settings) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.id %></td>
        <td><%= link_to restaurant.name, restaurant_path(restaurant) %></td>
        <td><%= restaurant.enabled? ? model_class.human_attribute_name(:enabled) : model_class.human_attribute_name(:disabled) %></td>
        <td><%= restaurant.op_enabled? ? model_class.human_attribute_name(:fem_enabled) : model_class.human_attribute_name(:fem_disabled) %></td>
        <td>
          <%= link_to t('.operate'),
                      operate_restaurant_path(restaurant), :class => 'btn btn-mini btn-primary' %>
          <%= link_to t('.stats'),
                      stats_restaurant_path(restaurant), :class => 'btn btn-mini btn-success' %>
        </td>
        <td>
          <%= link_to model_class.human_attribute_name(:menus),
                      restaurant_menus_path(restaurant), :class => 'btn btn-mini' %>
          <%= link_to model_class.human_attribute_name(:districts),
                      restaurant_deliverabilities_path(restaurant), :class => 'btn btn-mini' %>
          <%= link_to model_class.human_attribute_name(:business_hours),
                      restaurant_business_hours_path(restaurant), :class => 'btn btn-mini' %>
        </td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_restaurant_path(restaurant), :class => 'btn btn-mini' %>

          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      restaurant_path(restaurant),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= link_to t('.report', :default => t("helpers.links.new")),
            new_user_restaurant_path(current_user), 
            :class => 'btn btn-primary' %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_restaurant_path(current_user), 
            :class => 'btn btn-primary' %>
