<%= simple_form_for @order, :html => { :class => 'form-horizontal', id: "order-form" } do |form| %>
  <%= form.input :address_id, collection: @user.addresses, selected: @address.id || "" %>

  <div id="order-address-form">
    <%= render 'address_form', address: @address %>
  </div>
  <legend><%= t '.preferences_legend' %></legend>
  <%= form.input :deliver_now, input_html: {checked: !@preorder}, disabled: @preorder,
   hint: "#{@preorder ? t('activemodel.errors.models.order.attributes.delivery_time.restaurant_closed') : ''}" %>
  <%= form.input :delivery_time, as: :custom_time, disabled: !@preorder, input_html: {class: "datetimepicker"},
        hint: "#{BusinessHour.model_name.human(count: 2).mb_chars.capitalize}: #{@cart.restaurant.today_hours.map {|hour| hour.to_s}.join(' / ')}"%>
  <%= form.input :change_from %>

  <div class="form-actions">
    <%= form.button :submit, t('.submit'), :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                restaurant_path(@cart.restaurant), :class => 'btn' %>
  </div>
  <%= render partial: 'shared/datetime_picker' %>
<% end %>