<tr class="<%= order_status_to_class my_order.status %> <%= my_order.status %> order" id="<%= dom_id(my_order) %>">
  <td><%= my_order.id %></td>
  <td><%= my_order.status %></td>
  <td><%= my_order.user_id %></td>
  <td><%= my_order.total_price %></td>
  <td><%= my_order.address.district.name %></td>
  <td><%= my_order.created_at.to_s(:short) %></td>
  <td><%= my_order.delivery_time.to_s(:short) %></td>
  <td>
    <%= link_to t('.view', :default => t("helpers.links.view")),
                order_path(my_order), :class => 'btn btn-mini' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                order_path(my_order), :class => 'btn btn-mini btn-danger',
                :method => :delete, remote: true,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
  </td>
</tr>