<tr class="<%= order_status_to_class my_order.status %> <%= my_order.status %> order" id="<%= dom_id(my_order) %>">
  <td><%= my_order.id %></td>
  <td><%= t ".#{my_order.status}" %></td>
  <td><%= link_to my_order.restaurant.name, my_order.restaurant %></td>
  <td><%= my_order.restaurant.support_phone %></td>
  <td><%= number_to_currency my_order.total %></td>
  <td><%= l my_order.created_at, format: :short %></td>
  <td><%= l my_order.delivery_time, format: :short %></td>
  <td>
    <%= link_to t('.review'),
                restaurant_reviews_path(my_order.restaurant), :class => 'btn btn-mini btn-success' %>
    <%= link_to t('.view', :default => t("helpers.links.view")),
                order_path(my_order), :class => 'btn btn-mini' %>
  </td>
</tr>