<tr class="<%= order_status_to_class order.status %> <%= order.status %> order" id="<%= dom_id(order) %>">
  <td><%= order.id %></td>
  <td><%= t ".#{order.status}" %></td>
  <td><%= order.user.try(:restaurant_orders_count, order.restaurant_id) %></td>
  <td><%= order.total_price %></td>
  <td><%= order.try(:address).try(:district).try(:name) %></td>
  <td><%= time_ago_in_words (order.delivery_time) %></td>
  <td><%= l order.created_at, format: :short %></td>
  <td><%= l order.delivery_time, format: :short %></td>
  <td>
    <%= link_to t('.view', :default => t("helpers.links.view")),
                order_path(order), :class => 'btn btn-mini', target: '_blank' %>
    <%= link_to t('.accept', :default => t("helpers.links.accept")),
                accept_order_path(order), :class => 'btn btn-mini btn-success',
                method: :post, remote: true %>
    <%= link_to t('.reject', :default => t("helpers.links.reject")),
                reject_order_path(order), :class => 'btn btn-mini btn-danger',
                :method => :post, remote: true %>
  </td>
</tr>