<%- model_class = Order -%>
<div class="page-header">
  <h3><%= "#{@order.restaurant.name}: #{model_class.model_name.human} ##{@order.id}" %></h3>
</div>

<div class="row">

  <div class="span5">
    <%= render @order.address %>

    <dl class="dl-horizontal">
      <p>
      <legend><%= t 'orders.form.preferences_legend' %></legend>
      <dt><strong><%= model_class.human_attribute_name(:delivery_time) %>:</strong></dt>
      <dd><%= l @order.delivery_time, format: :short %></dd>
      <% if @order.change_from.present? %>
      <dt><strong><%= model_class.human_attribute_name(:change_from) %>:</strong></dt>
      <dd><%= @order.change_from %></dd>
      <% end %>
      </p>
    </dl>
  </div>

  <div class="span3">
    <p>
    <legend><%= Order.model_name.human %></legend>
    <%= render @order.line_items %>
    <div class="row">
    <strong>
    <div class="span2"><%= t('carts.subtotal') %></div>
    <div class="span1"><%= number_to_currency(@order.total_price) %></div>
    </strong>
    </p>
  </div>
  
  <div class="row">
    <div class="span2"><%= Restaurant.human_attribute_name :delivery_fee %></div>
    <div class="span1"><%= number_to_currency(@order.restaurant.try(:delivery_fee, @order.address.district_id)) %></div>
  </div>
  <div class="divider"></div>
  <div class="row" style="margin-bottom: 10px;">
    <strong>
    <div class="span2"><%= t('carts.total') %></div>
    <div class="span1"><%= number_to_currency(@order.total) %></div>
    </strong>
  </div>
  </div>
</div>

<div class="form-actions">
  <% if can? :accept, @order %>
    <%= link_to t('.back', :default => t("helpers.links.back")),
                operate_restaurant_path(@order.restaurant), :class => 'btn'  %>
    <%= link_to t('.accept', :default => t("helpers.links.accept")),
                  accept_order_path(@order), :class => 'btn btn-success',
                  method: :post, remote: true %>
    <%= link_to t('.reject', :default => t("helpers.links.reject")),
                reject_order_path(@order), :class => 'btn btn-danger',
                :method => :post, remote: true %>
  <% else %>
    <%= link_to t('.back', :default => t("helpers.links.back")),
                user_orders_path(current_user), :class => 'btn'  %>
  <% end %>
</div>
