<%= simple_form_for [@user, @restaurant], :html => { :class => 'form-horizontal' } do |f| %>
	<%= f.input :title %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :minimum_order %>
  <%= f.input :delivery_fee %>
  <%= f.input :average_delivery_time %>
  <%= f.input :description %>
  <%= f.input :logo %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                restaurants_path, :class => 'btn' %>
  </div>
<% end %>
