<%= simple_form_for [@user, @restaurant], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="row">
    <div class="span6">
    	<%= f.input :title, placeholder: 'Ресторан, Суши-бар, Кафе и т.д.' %>
      <%= f.input :name %>
      <%= f.association :city %>
      <%= f.input :address %>
      <%= f.input :minimum_order, placeholder: '1000' %>
      <%= f.input :average_delivery_time, placeholder: '60' %>
      <%= f.input :description, input_html: {rows: 4} %>
      <%= f.input :logo %>
      <%= f.input :op_enabled %>
      <% if current_user.admin? %>
        <%= f.input :enabled %>
      <% end %>
    </div>
    <div class="span6">
      <%= f.association :cuisines, as: :check_boxes %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, t('.button'), :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                restaurants_path, :class => 'btn' %>
  </div>
<% end %>
