<div class="row restaurant-row">
	<div class="span2">
		<%= image_tag restaurant.logo.url(:thumb), width: 170, class: "img-rounded" %>
		<% if can? :update, restaurant %>
		<%= link_to t("helpers.links.edit"), edit_restaurant_path(restaurant), class: "admin-links" %> |
		<%= link_to t(".add_menu"), new_restaurant_menu_path(restaurant), class: "admin-links" %>
		<% end %>
	</div>
	<div class="span7">
		<div class="row">
			<div class="restaurant-name span5">
				
				<h2>
					<%= restaurant.name %>
					<small>
						<%= restaurant.title %>		
					</small>
				</h2>
			</div>

			<div class="span2">
				<%= t('navigation.rating') %>:
				<span id="rating-number"><%= restaurant.rating %></span>
				<div>
		      <% 1.upto(10) do |value| %>
		        <%= star_button_readonly "rating_average_#{restaurant.id}", value,
		        	(value==(restaurant.rating*2).round), true %>
		      <% end %>
				
				</div>
			</div>
		</div>

		<% if restaurant.cuisines.any? %>
			<small>
				<%= "#{t("restaurants.cuisines")}: #{ restaurant.cuisines.limit(5).map {|c| c.name}.join(' / ')}" %>
			</small>
		<% end %>
				
			<table class="table table-condensed restaurant">
				<thead>
					<tr>
						<th style="width: 20%"><%= Restaurant.human_attribute_name :minimum_order %></th>
						<th style="width: 20%"><%= Restaurant.human_attribute_name :delivery_fee %></th>
						<th style="width: 20%"><%= Restaurant.human_attribute_name :average_delivery_time %></th>
						<th style="width: 40%"><%= Restaurant.human_attribute_name :description %></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="value">
							<%= number_to_currency (restaurant.minimum_order) %>
						</td>
						<td class="value">
							<%= number_to_currency (restaurant.delivery_fee) %>
						</td>
						<td class="value">
							<%= t('restaurants.delivery_time', minutes: restaurant.average_delivery_time) %>
						</td>
						<td class="description tooltiped"  rel="tooltip" data-placement="top"
  							data-original-title="<%= restaurant.description %>" data-trigger="hover">
							<div><%= restaurant.description %></div>
						</td>
					</tr>
				</tbody>
			</table>


		
	</div>
</div>

