<div id="<%= dom_id(restaurant) %>">
	<div class="span2 restaurant-logo">
		<%= image_tag restaurant.logo.url(:thumb), width: 170, class: "img-rounded" %>
		<% if can? :update, restaurant %>
		<%= link_to t("helpers.links.edit"), edit_restaurant_path(restaurant), class: "admin-links" %> |
		<%= link_to t(".control_menus"), restaurant_menus_path(restaurant), class: "admin-links" %>
		<% end %>
	</div>
	<div class="span7">
		<div class="row">
			<div class="restaurant-name span4">
				
				<h2>
					<%= restaurant.name %>
					<small>
						<%= restaurant.title %>		
					</small>
				</h2>
			</div>
				
			<div class="span3" style="margin-top: 12px;">
				<span class="tooltiped" rel="tooltip" data-placement="top"
						data-original-title="<%= "#{t('navigation.rating')}: #{restaurant.rating}/5" %>" data-trigger="hover">
						<span style="margin-left: 5px;"><%= restaurant.rating %></span>
					
		      <% 1.upto(10) do |value| %>
		        <%= star_button_readonly "rating_average_#{restaurant.id}", value,
		        	(value==(restaurant.rating.to_i * 2).round), true %>
		      <% end %>
					
				</span>

				<span style="margin-left: 20px;">
					<%= link_to user_favorites_path(restaurant_id: restaurant.id),
						method: :post, remote: true, class: "favorite" do %>
						<% if current_user.try(:favorited?, restaurant) %>
							<i class="icon-heart icon-large tooltiped heart" rel="tooltip" data-placement="top"
								data-original-title="<%= t '.to_unfavorite' %>" data-trigger="hover"></i>
						<% else %>
							<i class="icon-heart-empty icon-large tooltiped heart" rel="tooltip" data-placement="top"
								data-original-title="<%= t '.to_favorite' %>" data-trigger="hover"></i>
						<% end %>
					<% end %>

					<span class="tooltiped fans-number" rel="tooltip" data-placement="top"
						data-original-title="<%= t '.favorited_by', value: restaurant.fans.count %>" data-trigger="hover"> <%= restaurant.fans.count %>
					</span>
				</span>

				<span class="tooltiped" rel="tooltip" data-placement="top"
						data-original-title="<%= t('navigation.reviews') %>" data-trigger="hover" style="margin-left: 20px;">
					<a class="favorite" href="<%= restaurant_path(restaurant) %>#reviews">
						<i class="icon-comments-alt icon-large"></i>
					</a>
					<%= restaurant.reviews.count %>
				</span>
			</div>
		</div>

		<div class="row">
			<div class="span2">
				<small>
					<i class="icon-time"></i>
					<% unless restaurant.open? %>
						<span class="label label-important tooltiped" rel="tooltip" data-placement="top"
						data-original-title="<%= t('.closed_tooltip') %>" data-trigger="hover"
						><%= t('.closed')%></span>
					<% else %>
						<span class="label label-success tooltiped" rel="tooltip" data-placement="top"
						data-original-title="<%= t('.open_tooltip') %>" data-trigger="hover"
						><%= t('.open')%></span>
					<% end %>
					<%= restaurant.today_hours.map {|hour| hour.to_s}.join(' / ') %>
				</small>
			</div>
			<div class="span5">
				<% if restaurant.cuisines.any? %>
					<small>
						<%= "#{t("restaurants.cuisines")}: #{ restaurant.cuisines.limit(5).map {|c| c.name}.join(' / ')}" %>
					</small>
				<% end %>
			</div>
		</div>
				
			<table class="table table-condensed restaurant">
				<thead>
					<tr>
						<th style="width: 20%"><%= Restaurant.human_attribute_name :minimum_order %></th>
						<th style="width: 20%"><%= Restaurant.human_attribute_name :delivery_fee %></th>
						<th style="width: 20%"><%= Restaurant.human_attribute_name :average_delivery_time %></th>
						<th style="width: 40%"><%= Restaurant.human_attribute_name :description %></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="value">
							<%= number_to_currency (restaurant.minimum_order) %>
						</td>
						<td class="value">
							<%= number_to_currency(restaurant.delivery_fee(current_district)) %>
						</td>
						<td class="value">
							<%= t('restaurants.delivery_time', minutes: restaurant.average_delivery_time) %>
						</td>
						<td class="description tooltiped" rel="tooltip" data-placement="top"
  							data-original-title="<%= restaurant.description %>" data-trigger="hover">
							<div><%= restaurant.description %></div>
						</td>
					</tr>
				</tbody>
			</table>
	</div>
</div>