<%- model_class = Restaurant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human(count: 2) %></h1>
</div>

<div class="row">
<div class="span3">
  <%= search_form_for @q, url: search_restaurants_path, method: :post do |f| %>
  <%= f.label :name_cont, t("navigation.search") %>
  <%= f.text_field :name_cont %>

  <%= f.label :city_id_in, model_class.human_attribute_name(:city) %>
  <%= f.collection_select :city_id_in, City.order(:name), :id, :name, include_blank: true %>
  <div>
    <%= f.label :deliverabilities_district_id_in, model_class.human_attribute_name(:districts) %>
    <%= f.grouped_collection_select :deliverabilities_district_id_in, City.order(:name), :districts, :name, :id, :name, include_blank: true %>
  </div>
  <%= f.label :minimum_order_lteq, model_class.human_attribute_name(:minimum_order) %>
  <%= f.text_field :minimum_order_lteq %>

  <%= f.label :average_delivery_time_lteq, model_class.human_attribute_name(:average_delivery_time) %>
  <%= f.text_field :average_delivery_time_lteq %>

  <%= f.submit %>
  <% end %>
</div>

<div class="span9 restaurant-div">
  <ul class="restaurant-list">
    <%= render @restaurants %>
  </ul>
</div>
</div>