<% provide(:title, t(".title")) %>
<% provide(:description, t(".description")) %>
<%- model_class = Restaurant -%>

<%= render partial: 'restaurants/slider' %>
<%= render partial: 'restaurants/rating' %>

<div class="row">
<div class="span3 hidden-phone hidden-tablet" id="search-form">
  <%= search_form_for @q do |f| %>

    <%= f.label :name_cont, t("navigation.search") %>
    <%= f.text_field :name_cont %>

    <p>
      <%= t(".sort_by") %>
      <select name="q[s]">
        <option value="rating desc"><%= model_class.human_attribute_name(:rating) %></option>
        <option value="minimum_order asc"><%= model_class.human_attribute_name(:minimum_order) %></option>
        <option value="delivery_fee asc"><%= model_class.human_attribute_name(:delivery_fee) %></option>
      </select>
    </p>
    
    <%= f.label :cuisine_tags_cuisine_id_eq_any, t("navigation.cuisines") %>
    <%= f.collection_select :cuisine_tags_cuisine_id_eq_any, Cuisine.all, :id, :name, {},
                multiple: true, as: :check_boxes %>

    <span id='value_span'>
    <%= f.label :minimum_order_lteq, model_class.human_attribute_name(:minimum_order) + ':',
            style: "display: inline;"  %>
    
    <%= f.text_field :minimum_order_lteq, style: "color:#5BB75B; font-weight:bold; display: inline; width: 57px;" %>
    </span>
    <div id="money_slider"></div>

    <span id='value_span'>
    <%= f.label :rating_gteq, model_class.human_attribute_name(:minimum_rating) + ':',
            style: "display: inline;"  %>
    
    <%= f.text_field :rating_gteq, style: "color:#5BB75B; font-weight:bold; display: inline; width: 43px;" %>
    </span>
    <div id="rating_slider"></div>

    <%= f.label :city_id_in, model_class.human_attribute_name(:city) %>
    <%= f.collection_select :city_id_in, City.order(:name), :id, :name, include_blank: false %>
    
    <%= f.label :deliverabilities_district_id_in, model_class.human_attribute_name(:district) %>
    <%= f.grouped_collection_select :deliverabilities_district_id_in, City.order(:name), :districts, :name, :id, :name, include_blank: false %>

    <%#= f.label :average_delivery_time_lteq, model_class.human_attribute_name(:average_delivery_time) %>
    <%#= f.text_field :average_delivery_time_lteq %>

    <%= f.submit t('navigation.search'), class: 'btn btn-success' %>
  <% end %>

</div>

<div class="span9" id="restaurants">
  <%= render partial: 'restaurants' %>
</div>
</div>