<%- model_class = Order -%>
<div class="page-header">
  <h1><%= "#{@restaurant.name} - #{Restaurant.human_attribute_name(:orders)}" %></h1>
</div>
<%= will_paginate @orders %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@q, :id, model_class.human_attribute_name(:id)) %></th>
      <th><%= sort_link(@q, :status, model_class.human_attribute_name(:status)) %></th>
      <th><%= sort_link(@q, :user_id, model_class.human_attribute_name(:history)) %></th>
      <th><%= sort_link(@q, :sum, model_class.human_attribute_name(:sum)) %></th>
      <th><%= sort_link(@q, :district, Address.human_attribute_name(:district)) %></th>
      <th><%= sort_link(@q, :waiting_time, model_class.human_attribute_name(:waiting_time)) %></th>
      <th><%= sort_link(@q, :created_at, model_class.human_attribute_name(:created_at)) %></th>
      <th><%= sort_link(@q, :delivery_time, model_class.human_attribute_name(:delivery_time)) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody id="orders" data-time="<%= @most_recent.try(:created_at).to_i %>">

    <%= render @orders %>
  </tbody>
</table>

<%= will_paginate @orders %>

<dl class="dl-horizontal">
  <p>
  <legend><%= t('.stats_24_hours') %></legend>
  <dt><strong><%= Restaurant.human_attribute_name(:new_orders) %>:</strong></dt>
  <dd><%= @orders.pending.count %></dd>
  
  <dt><strong><%= Restaurant.human_attribute_name(:views) %>:</strong></dt>
  <dd><%= @restaurant.views_count(24.hours.ago, Time.zone.now) %></dd>

  <dt><strong><%= Restaurant.human_attribute_name(:orders) %>:</strong></dt>
  <dd><%= @orders.where(created_at: 24.hours.ago..Time.zone.now).count %></dd>
  
  </p>
</dl>

<%= render partial: 'soundmanager' %>