<% provide(:title, "#{@restaurant.name}") %>
<%= render partial: 'restaurants/rating' %>
<div class="row">

	<div class="span9">
		
		<div class="row">
    	<%= render @restaurant %>
    </div>

  	
		<div class="navbar" id="nav-menu">
			<div data-spy="affix" data-offset-top="300" class="nav-affix">
				<div class="navbar-inner">
			    <div class="container" id="spy-nav-menu" data-offset="50">
			    <ul class="nav">
				    <li class="dropdown">
					    <a class="brand dropdown-toggle" data-toggle="dropdown" href="#" >
					    	<i class="icon-list"></i>
					    	<%= t("navigation.menu") %>
					    	<b class="caret"></b>
					    	<!-- <i class="icon-chevron-down" style="font-size: 16px;"></i> -->
					    </a>
							<ul class="dropdown-menu">
								<% @restaurant.menus.each do |menu| %>
									<li>
										<%= link_to "#menu_#{menu.id}" do %>
											<%= menu.name %>
										<% end %>
									</li>
								<% end %>
							</ul>
						</li>
					</ul>
					<ul class="nav pull-right">
					<li><a class="brand" href="#reviews" >
						<i class="icon-comments-alt"></i>
						<%= "#{t('navigation.reviews')} (#{@reviews.count})"%></a></li>
					</ul>
			    </div>
		    </div>
	  	</div>
		</div>

		<div id="menus">
			<%= render @restaurant.menus %>
		</div>
		
		<div id="reviews">
			<p>
			  <h3><%= t("navigation.reviews") %></h3>
			</p>
			<% if @reviews.any? %>
				<%= render @reviews %>
			<% else %>
				<p><%= t(".no_reviews") %></p>
			<% end %>

		</div>
	</div>


	<div class="span3">
		<div class="affix-top" data-spy="affix" data-offset-top="120" data-offset-bottom="500">
			<%= render @cart %>
		</div>
	</div>

</div>
