<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
	<td>
		<p>
			<%= link_to raw('<i class="icon-minus-sign"></i>'), decrement_line_item_path(line_item),
					remote: true, method: :post, class: "decrement" %>
			<%= line_item.quantity %>
			<%= link_to raw('<i class="icon-plus-sign"></i>'), increment_line_item_path(line_item),
					remote: true, method: :post, class: "decrement" %>
		</p>
	</td>
	<td><%= line_item.dish.name %> </td>
	<td><%= number_to_currency(line_item.total_price) %></td>
</tr>