<footer class="footer">
  <div class="container">
    <small>
      <a href="http://grub.kz/">grub.kz</a>
      by <a href="http://amanatlabs.com/">Amanat Labs</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to t(".partners"), partners_path %></li>
        <li><%= link_to t(".about"), '#' %></li>
        <li><%= link_to t(".contact"), '#' %></li>
        <li><%= link_to t(".help"), '#' %></li>
        <li><%= link_to t(".news"), '#' %></li>
      </ul>
    </nav>
  </div>
</footer>