<footer class="footer">
  <div class="container">
    <small>
      <a href="http://grub.kz/">grub.kz</a>
      by <a href="http://amanatlabs.com/">Amanat Labs</a>
    </small>
    <nav>
      <ul class="center">
        <li><%= link_to t(".pizza_delivery"), pizza_path %></li>
        <li class="muted">·</li>
        <li><%= link_to t(".sushi_delivery"), sushi_path %></li>
        <li class="muted">·</li>
        <li><%= link_to t(".food_delivery"), restaurants_path %></li>
      </ul>
    </nav>
  </div>

  <div class="container">

    <nav>
      <ul>
        <li><%= link_to t(".about"), about_path %></li>
        <li class="muted">·</li>
        <li><%= link_to t(".partners"), partners_path %></li>
        <li class="muted">·</li>
        <li><%= link_to t(".help"), faq_path %></li>
        <li class="muted">·</li>
        <li><%= link_to t(".contact"), contact_path %></li>
        <li class="muted">·</li>
        <li><%= link_to t(".blog"), 'http://blog.grub.kz/' %></li>
      </ul>
    </nav>
  </div>
  <div style="display: none;">
    <a title="Интернет магазины, Алматы" href="http://AlmaAta.mnogonado.kz" target="_blank"><img alt="Интернет магазины, Алматы" src="//AlmaAta.mnogonado.kz/logo31x31.gif" width=31 height=31 border=0></a>
    <a href="http://www.seoselect.ru/categ_87">Музыка на seoselect.ru. Бесплатная музыка, мобильная и классическая музыка</a>
    <a href='http://news.resurs.kz/' target='_blank'><img src='http://www.resurs.kz/images/res_ban_88_31_1.gif' border='0' width='88' height='31' alt='новости Казахстан'></a>
  </div>
</footer>