<header class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to root_path, class: "brand", id: 'logo' do %>
        <%= image_tag('logo_small.png') %>
      <% end %>
      <div class="nav-collapse">
        <ul class="nav pull-left">
          <li><a href="#">Άλφα version</a></li>
        </ul>
        <ul class="nav pull-right">
          <% if I18n.locale == :ru %>
            <li><%= link_to "Қазақша", locale: "kk" %></li>
          <% elsif I18n.locale == :kk %>
            <li><%= link_to "Русский", locale: "ru" %></li>
          <% end %>
          <li class="divider-vertical"></li>

          <% if user_signed_in? %>
            <li><%= link_to restaurants_path do %>
              <i class="icon-heart"></i>
              <%= t("navigation.favorites") %>
              <% end %>
            </li>

            <li><%= link_to user_orders_path(current_user) do %>
              <i class="icon-list"></i>
              <%= t("navigation.orders") %>
              <% end %>
            </li>
                
            
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user"></i>
                <%= t("navigation.account") %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% if current_user.restaurateur? or current_user.admin? %>
                  <li><%= link_to t("navigation.restaurant"), current_user %></li>
                <% end %>
                <li><%= link_to t("navigation.profile"), current_user %></li>
                <li><%= link_to t("navigation.settings"), edit_user_registration_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to t("navigation.signout"), destroy_user_session_path %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to t("navigation.signin"), new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>