<header class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to root_path, class: "brand", id: 'logo' do %>
        <%= image_tag('logo_small.png') %>
      <% end %>
      <nav>
        <ul class="nav pull-right">
          <% if I18n.locale == :ru %>
            <li><%= link_to "Қазақша", locale: "kk" %><li>
          <% elsif I18n.locale == :kk %>
            <li><%= link_to "Русский", locale: "ru" %><li>
          <% end %>
          <li class="divider-vertical"></li>
          <li><%= link_to root_path do %>
            <i class="icon-home"></i>
            <%= t("navigation.home") %>
            <% end %></li>
          <li><%= link_to t("navigation.help"), help_path %></li>
          <% if user_signed_in? %>
            <% # if current_user.admin? %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= t("navigation.admin") %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to t("navigation.restaurants"), restaurants_path %></li>
                  <li><%= link_to t("navigation.users"), users_path %></li>
                </ul>
              </li>
            <% # end %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t("navigation.account") %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t("navigation.profile"), current_user %></li>
                <li><%= link_to t("navigation.settings"), edit_user_registration_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to t("navigation.signout"), destroy_user_session_path %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to t("navigation.signin"), new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>