<header class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to root_path, class: "brand", id: 'logo', title: t('.home') do %>
        <%= image_tag('logo_small.png') %>
      <% end %>
      
      <div class="nav-collapse">
        <ul class="nav pull-right" id="nav">
          <% if I18n.locale == :ru %>
            <li><%= link_to "Қазақша", locale: "kk" %></li>
          <% elsif I18n.locale == :kk %>
            <li><%= link_to "Русский", locale: "ru" %></li>
          <% end %>
          <li class="divider-vertical"></li>

          <% if user_signed_in? %>
            <% if current_user.restaurateur? or current_user.admin? %>
              <li><%= link_to restaurateur_user_path(current_user) do %>
                <i class="icon-cogs"></i>
                <%= t(".restaurateur") %>
                <% end %>
              </li>
            <% end %>
            <li><%= link_to restaurants_path do %>
              <i class="icon-chevron-right"></i>
              <%= t(".restaurants") %>
              <% end %>
            </li>
                
            
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user"></i>
                <%= t(".account") %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to user_orders_path(current_user) do %>
                  <i class="icon-list"></i>
                  <%= t(".orders") %>
                  <% end %>
                </li>
                <li><%= link_to current_user do %>
                    <i class="icon-cogs"></i>
                    <%= t(".settings") %>
                  <% end %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to destroy_user_session_path do %>
                    <i class="icon-signout"></i>
                    <%= t(".signout") %>
                  <% end %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to restaurants_path do %>
              <i class="icon-chevron-right"></i>
              <%= t(".restaurants") %>
              <% end %>
            </li>
            <li><%= link_to new_user_session_path do %>
                <i class="icon-signin"></i>
                <%= t(".signin") %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>