<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <%= render 'shared/analytics' %>
  <body data-spy="scroll" data-target="#spy-nav-menu"
        id="<%= body_id %>">
    <%= render 'layouts/header' %>
    <div class="container" id="<%= container_id %>">
      <%#= params[:controller] + params[:action] %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> <%= body_id %>">
          <a class="close" data-dismiss="alert">×</a>
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
      <%#= debug(params) if Rails.env.development? %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>